.container {
  padding: 0 2rem;
  background-image: radial-gradient(rgba(157, 157, 211, 0.25) 1px, transparent 0),
    radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  -webkit-animation: slide 10s linear infinite;
  animation: slide 10s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .container {
    -webkit-animation: none;
    animation: none;
  }
}
@keyframes slide {
  100% {
    background-position: 100px 50px, -125px 125px;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 100px;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  background-image: linear-gradient(90deg,#bc2a66,#e9d362);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 4rem;
}


.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 2rem;

}

.search{
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}
